body {
  background: linear-gradient(to bottom, #c0c0c0, #d3d3d3); /* Smoother silver gradient background */
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

main {
  padding: 20px;
}

.form-label {
  color: #333;
}

.form-control {
  background-color: #fff;
}

.btn-primary {
  background-color: #333;
  border-color: #333;
}

.btn-primary:hover {
  background-color: #555;
  border-color: #555;
}
